
<div id="total">
	

<div class="container">
<!--   <form>
  <div class="form-group">
    <label for="usrname">Username</label>
    <input class="form-control"  type="text"  ng-model='username' required>

    <label for="psw">Password</label>
    <input  class="form-control" type="password" ng-model="password" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
    <br>
    <input class="btn btn-info" type="submit" ng-click = "submit()" value="Submit">
    </div>
  </form>
 -->



  <form>
  <div id="back">
  <div class="input-group" id="some" >
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input   id="inp" type="text"  ng-model='username' class="form-control" name="email" placeholder="Username" required>
  </div><br>
  <div class="input-group" id="some" >
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input   id="inp" id="password" type="password"   ng-model="password" class="form-control" name="password" placeholder="Password"  required>
  </div><br>
  <input  id="btn" class="btn btn-info" type="submit" ng-click = "submit()" value="Submit">
</form>
</div>

</div>